<div class="tab-pane fade" id="adduser" role="tabpanel">
  <div class="card">
    <div class="card-body">
      <h5 class="card-title">Password</h5>

      <form>
        <div class="row">

          <div class="mb-3 col-md-6">
            <label for="inputEmail4" class="form-label">Username</label>
            <input type="email" class="form-control" id="username" name="username" placeholder="Enter your Username">
          </div>
          <div class="mb-3 col-md-6">
            <label for="inputPhoto" class="form-label">Photo</label>
            <input type="file" class="form-control" id="image" name="image">
          </div>
          <div class="mb-3 col-md-6">
            <label for="inputLastName" class="form-label">First name</label>
            <input type="text" class="form-control" id="firstName" name="firstName" placeholder="First name" value="">
          </div>
          <div class="mb-3 col-md-6">
            <label for="inputLastName" class="form-label">Last name</label>
            <input type="text" class="form-control" id="lastName" name="lastName" placeholder="Last name">
          </div>
        </div>
        <div class="mb-3">
          <label for="inputEmail4" class="form-label">Email</label>
          <input type="email" class="form-control" id="inputEmail4" placeholder="Email">
        </div>
        <div class="mb-3">
          <label for="inputAddress" class="form-label">Address</label>
          <input type="text" class="form-control" id="address" name="address" placeholder="1234 Main St">
        </div>
        <div class="mb-3">
          <label for="inputAddress2" class="form-label">Address 2</label>
          <input type="text" class="form-control" id="address2" name="address2" placeholder="Apartment, studio, or floor">
        </div>
        <div class="row">
          <div class="mb-3 col-md-4">
            <label for="inputCity" class="form-label">City</label>
            <input type="text" class="form-control" id="city" name="city" placeholder="Enter your City">
          </div>
          <div class="mb-3 col-md-4">
            <label for="inputState" class="form-label">State</label>
            <input type="text" class="form-control" id="state" name="state" placeholder="Enter your State">
          </div>
          <div class="mb-3 col-md-4">
            <label for="inputZip" class="form-label">Zip</label>
            <input type="text" class="form-control" id="zip" name="zip" placeholder="Enter your Zip">
          </div>
        </div>
        <button type="submit" class="btn btn-primary">Save changes</button>
      </form>
    </div>
  </div>
</div>