<ul class="navbar-nav navbar-align-middle d-block w-100 ">
  <li class="nav-item dropdown ">
    <button class="form-control " href="#" id="languageDropdown" data-bs-toggle="dropdown">
      Edit
    </button>
    <div class="dropdown-menu dropdown-menu-end p-10" aria-labelledby="">
      <span class="dropdown-item ">
        <button class="btn btn-outline-success d-block w-100  mb-2">Active</button>
        <button class="btn btn-outline-warning d-block w-100 mb-2">Pending</button>
        <button class="btn btn-outline-secondary  d-block w-100 mb-2">Inactive</button>
        <button class="btn btn-outline-info  d-block w-100 mb-2">Out Of Stock</button>
        <button class="btn btn-outline-danger  d-block w-100 mb-2">Suspended</button>
        <button class="btn btn-outline-danger  d-block w-100">Delete</button>

      </span>

    </div>
  </li>
</ul>