<ul class="nav nav-tabs " role="tablist">
  <li class="nav-item"> <a class="nav-link" id="All" href="#all" data-bs-toggle="tab">All</a> </li>
  <li class="nav-item"><a class="nav-link " href="#online" id="Online" data-bs-toggle="tab">Online</a></li>
  <li class="nav-item"><a class="nav-link" href="#pending" id="Pending" data-bs-toggle="tab">Pending</a></li>
  <li class="nav-item"><a class="nav-link" href="#outofstock" id="OutOfStock" data-bs-toggle="tab">Out Of Stock</a></li>
  <li class="nav-item"><a class="nav-link" href="#inactive" id="Inactive" data-bs-toggle="tab">Inactive</a></li>
  <li class="nav-item"><a class="nav-link" href="#suspended" id="Suspended" data-bs-toggle="tab">Suspended</a></li>
</ul>