<%- include('../../partial/header/header-doc-title.ejs') %>

<body data-theme="light" data-layout="fluid" data-sidebar-position="left" data-sidebar-behavior="sticky">
  <div class="wrapper">
    <nav id="sidebar" class="sidebar">
      <%- include('../../partial/left-sidebar/left-sidebar.ejs') %>
    </nav>
    <div class="main">
      <%- include('../../partial/top-header/top-header.ejs') %>
      <main class="content">


      </main>

      <%- include('../../partial/footer/footer.ejs') %>
    </div>
  </div>

  <script src="../../../js/app.js"></script>

  <script src="../../script/index-script.js"> </script>

</body>

</html>