<!DOCTYPE html>
<html lang="en">
<meta http-equiv="content-type" content="text/html;charset=UTF-8" />

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="Responsive Bootstrap 5 Admin Dashboard Template">
  <meta name="Muhammad Ranju" content="Raj T-Shirt">
  <title> <%= title %> | Raj T-Shirt - Admin Dashboard</title>

  <%- include('./header-links.ejs') %>


</head>